html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

#nav li a.selected {
	color: #fafafa;
}
#nav {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;  
    background-color: #111;
    box-shadow: 0 2px 1px #9c9c9c;
}

#nav li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
}

#nav a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#nav li:hover > a {
    color: #fafafa;
}

#nav li:hover > ul {
    display: block;
}

/* Clear floated elements */
#nav:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}







body {
	background-color: #e2e2e2;
	min-width: 960px;
	margin: 0;
}
img {
	display: block;
	border: 0;
}
/** box-shadow **/


.clearfix {
	width: 960px;
	margin: 0 auto;
}


.title {
	width: 960px;
	padding-bottom:2em;
	padding-left:2em;
}

/*------------ HEADER ------------*/
#header {
	background:#0F0F0F;
	padding: 40px 0 46px;
	width:1342px;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
	color:white;
	font-size:50px;
	font-family:Arial;
}
/*------------ CONTENTS ------------*/
#menu{
	position:absolute;
	top:118px;
	left:920px;
	float:left;
	display:block;
<<<<<<< HEAD
	height:700px;
	width:300px;
=======
	height:920px;
	width:420px;
>>>>>>> FETCH_HEAD
	background-color:#96c8ac;
	border:1px solid #000000;
	font-weight:bold;
	font-family:Arial;
}
.contents{
  position:absolute;
}
					/* The CSS */
select {
	padding:3px;
	margin: 5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background: #f8f8f8;
	color:#888;
	border:none;
	outline:none;
	display: inline-block;
}

input[type=text]{
	background-color: white;
	height: 28px;
	padding-left:10px;
	width: 191px;
	margin-bottom:5px;
}
input[type=button]{
	background-color: #1E1E1E;
	color: #979797;
	height: 24px;
	width: 103px;
	color: #bbbbbb;
	text-transform:uppercase;
	box-shadow:-1px 2px #6E6B6A inset;
}
input[type=button]:active{
	background-color: #171717;
}
input:focus {
	outline: none;
}

input[type=button], input[type=text]{
	border: 0;
	border-radius:5px;
	font-family: Sansation,Arial;
}
#menuWrapper{
	padding:10px;
}

h1 {
	color: Black;
	font: 29px/30px "Times New Roman", Times, serif;
	margin: 0 0 5px;
	text-transform: uppercase;
}
h2 {
	color: #626262;
	font: 19px/24px "Times New Roman", Times, serif;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
p {
	color: #626262;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 24px;
}



