html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}
body {
	background-color: #e2e2e2;
	min-width: 960px;
	margin: 0;
}
img {
	display: block;
	border: 0;
}
/** box-shadow **/


.clearfix {
	width: 960px;
	margin: 0 auto;
}


.title {
	width: 960px;
	padding-bottom:2em;
	padding-left:2em;
}

/*------------ HEADER ------------*/
#header {
	background:#0F0F0F;
	padding: 40px 0 46px;
	width:100%;
}
/** logo **/
.logo {
	float: left;
	display: inline-block;
	color:white;
	font-size:50px;
	font-family:Arial;
}
/*------------ CONTENTS ------------*/
#menu{
	position:absolute;
	top:118px;
	left:70%;
	float:left;
	display:block;
	height:80%;
	width:30%;
	background-color:#96c8ac;
	border:1px solid #000000;
}
.contents{
  position:absolute;

}

h1 {
	color: #57614e;
	font: 29px/30px "Times New Roman", Times, serif;
	margin: 0 0 12px;
	text-transform: uppercase;
}
h2 {
	color: #626262;
	font: 19px/24px "Times New Roman", Times, serif;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;
}
p {
	color: #626262;
	font: 14px/24px Arial, Helvetica, sans-serif;
	margin: 0 0 24px;
}



